<form class="form" [formGroup]="myForm" (change)="changeFilters(myForm.value)" [ngClass]="{'form--disabled':disabled}">
    <div class="row">
        <div class="form__group col-xs-6 col-sm-4" [ngClass]="{'col-xs-12 col-sm-6':hidePlayoffs}">
            <label class="form__label" for="season" *ngIf="!hidePlayoffs">Temporada</label>
            <label class="form__label" for="season" *ngIf="hidePlayoffs">Elige temporada para ver los jugadores de aquel
                año</label>
            <app-dropdown [options]="optionsPerSeason" [initialValue]="currentSeason" (newValue)="onNewValueSeason($event)"></app-dropdown>
        </div>
        <div class="form__group col-xs-6 col-sm-4" [ngClass]="{'form__group--hidden':hidePlayoffs}">
            <label class="form__label" for="per_page">Por página</label>
            <app-dropdown [options]="optionsPerPage" [initialValue]="perPage" (newValue)="onNewValuePage($event)"></app-dropdown>
        </div>
        <div class="form__group col-xs-12 col-sm-4" *ngIf="!hidePlayoffs">
            <label class="form__label form__label--custom" for="postseason" [ngClass]="{'form__label--checked': myForm.controls.postseason.value}">Solo playoffs
                <input formControlName="postseason" class="form__input--custom" type="checkbox" name="postseason"
                    id="postseason" value="true">
                <span class="icon icon-wink"></span>
            </label>
        </div>
    </div>
</form>
