@import "../../../assets/scss/partials/vars";

.form {
    padding: .5rem;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    &__group {
        flex: 0 1 33%;
        padding: 0 .5rem;

        &--bigger{
            flex-basis: 100%;
        }

        &--hidden{
            display: none;
        }
    }

    &__label {
        color: $gray-800;
    }
}
