@import "../../../assets/scss/partials/vars";

.paginator {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &--disabled {
        opacity: .4;
        pointer-events: none;
    }

    &__page {
        padding: .25rem .5rem;
        border: 1px solid $transparent;
        border-radius: 3px;
        background-color: $primary;
        color: $white;
        text-decoration: none;
        position: relative;
        transition: all $normal ease;
        cursor: pointer;
        & + & {
            margin-left: 1rem;
        }

        &:hover {
            background-color: $secondary;
            border-color: $gray-900;
            color: $black;
        }

        &--current {
            background-color: $secondary;
            border-color: $gray-900;
            color: $black;
            pointer-events: none;
            cursor: default;
        }

        &--disabled {
            opacity: .3;
            pointer-events: none;
            cursor: default;
        }
    }

    &__text {
        padding: 0 1rem;
    }
}
