<header class="header" *ngIf="team" style="background-color: rgba({{team.team_color}}, .15)">
    <img class="header__media" src="{{team?.image_url}}" alt="team image">
    <h1 class="header__title h1" colorTxt="{{team?.team_color}}">{{team?.full_name}}</h1>
    <button *ngIf="user" type="button" class="btn header__add-favourites" colorTxt="{{team?.team_color}}"
        (click)="addToFavourites($event)">
        <span class="icon icon-plus" title="Añadir equipo como favorito" *ngIf="!isMyFavouriteTeam"></span>
        <span class="icon icon-cancel-circle" title="Eliminar equipo como favorito" *ngIf="isMyFavouriteTeam"></span>
    </button>
</header>

<header class="header header--game" *ngIf="teams">
    <div class="container">
        <div class="row row--between">
            <div class="col-xs-12 col-md-6 header__block" *ngFor="let team of teams; first as isFirst">
                <div class="header__team"
                    style="background-color: rgba({{team.team_color}}, .15); border: .2rem solid rgba({{team.team_color}},.5)">
                    <div class="header__media-container">
                        <img class="header__logo" src="{{team.image_url}}" alt="team image">
                    </div>
                    <div class="header__data-container">
                        <h2 class="h2" colorTxt="{{team.team_color}}">{{team.full_name}}</h2>
                        <p class="header__txt"><span
                                class="h2">{{ isFirst? game.home_team_score : game.visitor_team_score}}</span> pts</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="header__date">Día del partido: <span class="h3">{{game.date | date}}</span></p>
            </div>
        </div>
    </div>
</header>
<header class="header header--teams" *ngIf="backgroundImg">
</header>