@import "../../../assets/scss/partials/vars";
.header {
  height: 20rem;
  background-color: $white;
  box-shadow: 0 0 2rem rgba($black, 0.6);
  display: flex;
  justify-content: center;
  padding: 4rem 1rem 1rem;
  position: relative;
  &__media {
    width: auto;
    object-fit: cover;
    height: 100%;
  }

  &__title {
    padding: 3rem;
  }

  &__add-favourites {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
  }
}
