@import "../../../assets/scss/partials/vars";
.header {
  background-color: $white;
  box-shadow: 0 0 2rem rgba($black, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  min-height: 20rem;
  max-height: 30rem;
  padding: 4rem 1rem 1rem;
  position: relative;

  &--game {
    background-color: rgba($primary, 0.05);
    max-height: none;
  }

  &--teams {
    background-image: url("../../../assets/img/team_page02.jpg");
    background-position: center 62%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 0.6rem solid $danger;
    box-shadow: 0 0 2rem rgba($danger, 0.6);
  }

  &__media {
    height: 100%;
    max-height: 8rem;
    object-fit: cover;
    width: auto;
    
    @include mobile {
      max-height: 13rem;
    }
    @include tablet {
      max-height: 22rem;
    }
  }

  &__title {
    padding: 1rem;
    font-size: 2rem;
    
    @include mobile {
      font-size: 4rem;

    }
    
    @include tablet {
      padding: 3rem;
      font-size: $fs-xl;

    }
  }

  &__add-favourites {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    border: 0.1rem solid $transparent;

    @include desktop {
      &:hover {
        border-color: $gray-700;

        .icon {
          transform: scale(1.05);
          color: $gray-800;
        }
      }
    }
  }

  &__block {
    margin: 1rem 0;
    min-height: 15.5rem;
    &:nth-child(2) {
      .header__team {
        flex-direction: row-reverse;

        .header__data-container {
          text-align: left;
        }
      }

      .header__media-container {
        justify-content: flex-end;
      }
    }
  }

  &__team {
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba($black, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding: 1rem;
    position: relative;
  }

  &__media-container {
    flex: 1 0 20%;
    display: inline-flex;

    @include tablet {
      display: block;
    }
  }

  &__logo {
    width: 100%;
    max-width: 19rem;
    height: 100%;
  }

  &__data-container {
    flex: 1 0 50%;
    text-align: end;

    @include mobile-landscape {
      flex-basis: auto;
    }
  }

  &__date {
    background-color: rgba($primary, 0.8);
    border-radius: 0.5rem;
    border: 0.2rem solid $white;
    box-shadow: 0 0 1rem rgba($black, 0.4);
    color: $white;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: max-content;
  }
}
