@import "../../../assets/scss/partials/vars";
.header {
  background-color: $white;
  box-shadow: 0 0 2rem rgba($black, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  min-height: 20rem;
  max-height: 23rem;
  padding: 4rem 1rem 1rem;
  position: relative;

  &--game {
    background-color: rgba($primary, 0.05);
  }

  &--teams {
    background-image: url("../../../assets/img/team_page02.jpg");
    background-position: center 62%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 6px solid $danger;
    box-shadow: 0 0 2rem rgba($danger, 0.6);
  }

  &__media {
    height: 100%;
    max-height: 15rem;
    object-fit: cover;
    width: auto;
  }

  &__title {
    padding: 3rem;
  }

  &__add-favourites {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    border: 1px solid $transparent;

    &:hover {
      border-color: $gray-700;

      .icon {
        transform: scale(1.05);
        color: $gray-800;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    flex: 0 1 48%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba($black, 0.5);
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;

    &:nth-child(2) {
      flex-direction: row-reverse;

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 4px;
        width: 2rem;
        border-radius: 5px;
        left: -2.5rem;
        top: calc(50% - 25px);
        background-color: $black;
      }

      .header__data-container {
        text-align: left;
      }
    }
  }

  &__media-container {
    flex: 1 0 20%;
  }

  &__logo {
    width: 100%;
    max-width: 19rem;
  }

  &__data-container {
    flex: 1 0 auto;
    text-align: end;
  }

  &__date {
    flex: 0 1 100%;
  }
}
