@import "../../../assets/scss/partials/vars";

:host {
  margin-bottom: 1rem;
}

.card {
  text-decoration: none;
  border: .1rem solid $gray-700;
  color: $gray-800;
  display: flex;
  background-color: $white;
  padding: 0.5rem;
  box-shadow: 0 0 1rem rgba($black, 0.3);
  border-radius: .5rem;
  transition: all $normal ease;
  height: 100%;
  position: relative;
  overflow: hidden;

  &__background {
    position: absolute;
    width: 100%;
    opacity: 0.2;
    right: -7.5rem;
    top: -3rem;
    transition: all $normal ease;
  }

  &:hover {
    border-color: $white;
    box-shadow: 0 0 1rem rgba($black, 0.5);
    background-color: rgba($white, 0.4);

    .card__background {
      opacity: 0.4;
    }
  }

  &__avatar {
    flex: 0 1 40%;
    align-self: center;
    overflow: hidden;
    z-index: $over;

    img {
      display: inline-block;
      max-width: 100%;
      border-radius: 100%;
    }
  }

  &__content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    z-index: $over;
    justify-content: center;
  }

  &__data {
    padding: .3rem;

    &--capitalice {
      text-transform: capitalize;
    }
  }

  &__details {
    display: inline-block;
    padding: .3rem 1rem;
  }

  &__link {
    display: block;
    margin: 1rem 0;
    text-decoration: none;
    width: 100%;
  }

}
