<a class="card" href="#" [routerLink]="['/player', player.id]">
    <img class="card__background" src="{{teamImage}}" alt="team image">
    <span class="card__avatar">
        <img src="{{player?.avatar}}" alt="player image">
    </span>
    <div class="card__content" [ngClass]="{'h3': textBig, 'h4':!textBig}">
        <span class="card__data">Jugador: <strong>{{player.first_name}} {{player.last_name}}</strong></span>
        <span class="card__data">Altura: <strong>{{player.height_feet | height}} m</strong></span>
        <span class="card__data">Peso: <strong>{{player.weight_pounds | weight}} kg</strong></span>
        <span class="card__data card__data--capitalice">Posición: <strong>{{player.position | position}}</strong></span>
    </div>
</a>
