<a class="card" href="#" [routerLink]="['/player', player.id]">

    <span class="card__avatar">
        <img src="{{player?.avatar}}" alt="player image">
    </span>
    <div class="card__content">
        <span class="card__data h4">Jugador: {{player.first_name}} {{player.last_name}}</span>
        <span class="card__data h4">Altura: {{player.height_feet | height}} m</span>
        <span class="card__data h4">Peso: {{player.weight_pounds | weight}} kg</span>
        <span class="card__data h4">Posición: {{player.position | position}}</span>
    </div>
</a>
