@import "../../../assets/scss/partials/vars";
@import "../../../assets/scss/partials/typography";

:host {
  flex: 1 0 16.666667%;
  height: 100%;
}

.card-carousel {
  height: 100%;
  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: .5rem;
  }

  &__media {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  &__img {
    background-color: $white;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, .4);
    border: .1rem solid rgba($black, .5);
    display: inline-block;
    flex: 1 0 75%;
    margin-bottom: .5rem;
    transition: transform $normal ease;

    &:hover {
      transform: scale(1.1);
      & + .card-carousel__title {
        transform: translateY(.5rem);
        font-size: 100%;
      }
    }
  }
  &__title {
    color: $black;
    color: rgba($color: #000000, $alpha: 1);
    display: inline-block;
    text-align: center;
    transition: all $normal ease;
  }
}
