@import '../../../assets/scss/partials/vars';

.logo {
  left: 1.5rem;
  padding-top: 1.8rem;
  position: absolute;
  text-align: center;
  top: 0;
  
  @include mobile-landscape {
    padding-top: 1.5rem;
  }

  &__link {
    display: flex;
    color: $white;
    text-decoration: none;
  }

  &__img {
    border-radius: 100%;
    max-width: 4.5rem;
    height: auto;
    max-height: 4.5rem;
    width: 100%;

    @include mobile-landscape {
      max-width: 6rem;
      max-height: 6rem;
    }
  }

  &__title {
    display: inline-block;
    padding: .5rem;
  }
}
