@import '../../../assets/scss/partials/vars';

.logo {
  left: 1.5rem;
  padding-top: 1.5rem;
  position: absolute;
  text-align: center;
  top: 0;

  &__link {
    display: flex;
    color: $white;
    text-decoration: none;
  }

  &__img {
    border-radius: 100%;
    max-width: 6rem;
    height: auto;
    width: 100%;
  }

  &__title {
    display: inline-block;
    padding: .5rem;
  }
}
