@import "../../../assets/scss/partials/vars";

:host {
  flex: 1 0 100%;
}

.card {
  background-color: $white;
  border-radius: 4px;
  color: $black;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    position: relative;
  }

  &--hidden {
    display: none;
  }

  &--disabled {
    background-color: rgba($white, .3);
    pointer-events: none;
    .card__container {
      cursor: default;
      opacity: .3;
    }
  }

  &--highlights {
    border: 1px solid $gray-400;
    height: 75%;
    .card__media-container {
      flex-basis: 40%;
    }
    .card__media {
      max-width: 7rem;
    }

    .card__info {
      flex-basis: 60%;
    }

    .card__data {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      flex-basis: 100%;
      padding: .3rem .5rem .2rem;
      position: relative;
      z-index: $over;

      &--lg {
        display: inline-block;
        font-size: 125%;
        font-weight: bold;
      }
    }

    .card__logo {
      top: -.5rem;
      right: -5rem;
      width: 9rem;
    }

    &:hover {
      border-color: $gray-600;

      .card__data--lg {
        transform: scale(1.1);
      }
    }
  }

  &:not(.card--disabled):hover {
    cursor: pointer;
    .card__logo {
      opacity: .8;
    }
    box-shadow: 0 0 1rem rgba($black, .5);
  }

  &__media-container {
    height: 100%;
    flex: 1 0 25%;
  }

  &__media {
    border-radius: 100%;
    display: inline-block;
    margin: .5rem;
    max-width: 3rem;
  }

  &__info {
    padding: .5rem;
    flex: 1 0 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__data {
    flex: 0 1 50%;
    &--lg {
      flex: 0 1 100%;
      transition: all $normal ease;

      span:nth-child(2) {
        font-size: 105%;
        font-weight: bold;
      }
    }

    &--highlights {
      background-color: rgba($primary, .5);
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    right: -2.5rem;
    width: 5rem;
    opacity: .2;
    transition: all $normal ease;
  }

  &__notification {
    color: $white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-7deg);
    .icon {
      font-size: $fs-l;
      text-shadow: 0 0 1rem $black;
    }
  }

  &__text {
    font-size: 1.2rem;
    padding: .5rem;
    text-shadow: 0 0 1rem $black;
  }

  &__detail {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom-right-radius: 5px;
    padding: .5rem;
    background-color: rgba($primary, .6);
    color: $white;
    box-shadow: inset 0 0 .5rem rgba($black, .65);

    &--show {
      display: inline-block;
    }
  }
}
