<app-header [game]="game" [teams]="teams"></app-header>

<div class="">
    <div class="container" *ngIf="topPlayers">
        <h2 class="h2">
            <span class="icon icon-fire"></span>
            Jugadores destacados
            <span class="icon icon-fire"></span>
        </h2>
        <div class="highlights">
            <div class="highlights__block" *ngFor="let stats of topPlayers; index as i">
                <p class="highlights__title">Máximo {{textHighlights[i]}}</p>
                <app-stats (detailsPlayer)="onDetailsPlayer($event)" [player]="stats.player"
                    [bgImage]="stats?.player?.team?.image_url" [pageStats]="pageStats" [highlights]="highlights"
                    [index]="i" [mvp]="stats.mvp"></app-stats>
            </div>
        </div>
    </div>
</div>

<div class="" *ngIf="playersByTeam">
    <div class="container">
        <h2 class="h2"> <span class="icon icon-stats-bars"></span>
            Estadísticas
        </h2>
    </div>
    <div class="container container--flex">
        <app-result-stats [stats]="stats" [idStats]="idStatsDetails" [game]="gameSelected" [pageStats]="pageStats">
        </app-result-stats>
    </div>
</div>

<app-stats-detail *ngIf="playerStats" [player]="playerStats" (deleteDetails)="onCloseDetails($event)">
</app-stats-detail>
