@import "../../../assets/scss/partials/vars";

.nav {
  background-color: rgba($primary, 0.7);
  box-shadow: 0 0 2.5rem 0.5rem rgba($white, 0.4), inset 0rem 0rem 0.7rem 1rem rgba($black, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: $top;

  &__item {
    display: inline-block;
    padding: 1rem 0;
    position: relative;
    
    &--btn {
      padding: 0;
    }
  }

  &__link {
    flex: 1 0 auto;
    color: $white;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    &:hover {
      background: linear-gradient(to bottom, $transparent 57%, darken($primary, 15%) 100%),
        linear-gradient(to top, $transparent 57%, rgba($white, 0.3) 100%);

      .icon {
        color: $secondary;
      }
    }

    &--active {
      background: linear-gradient(to top, $transparent 57%, darken($primary, 15%) 100%),
        linear-gradient(to bottom, $transparent 57%, rgba($white, 0.3) 100%);

      .icon {
        color: $secondary;
      }
    }

    &--btn {
      border-radius: 0;
      box-shadow: none;
    }
  }
}
