<nav class="nav">
    <app-logo></app-logo>
    <ul class="nav__list">
        <li class="nav__item" *ngIf="!user">
            <a [routerLink]="['/register']" routerLinkActive="nav__link--active" class="nav__link" href="#">
                <span class="icon icon-user"></span>
                <span class="nav__text">Login</span></a>
        </li>
        <li class="nav__item">
            <a [routerLink]="['/teams']" routerLinkActive="nav__link--active" class="nav__link" href="#">
                <span class="icon icon-profile"></span>
                <span class="nav__text">Clasificaciones</span></a>
        </li>
        <li (click)="showSearcher($event)" class="nav__item nav__item--btn" [ngClass]="{'nav__link--active':searcherOpen}">
            <button type="btn" class="btn nav__link nav__link--btn">
                <span class="icon icon-dribbble"></span>
                <span class="nav__text">Buscador</span></button>
        </li>
    </ul>
    <app-menu [user]="user" (closeSessionUser)="onCloseSessionUser($event)"></app-menu>
</nav>