@import "../../../assets/scss/partials/vars";
.page {
    background-image: url("../../../assets/img/wall.jpg");
}

.form {
    &--register {
        align-self: center;
        margin: 0 auto;
        margin-bottom: 1rem;
        @include mobile-landscape {
            width: 50rem;
        }
        @include desktop {
            align-self: flex-start;
            min-height: 30rem;
        }
    }

    &__input {
        &--fixed,
        &--fixed:focus {
            background-color: $gray-200;
            pointer-events: none;
        }
    }
}
