@mixin btn(
  $bg-color: $transparent,
  $color: $black,
  $shadow-color: $black,
  $border: 0,
  $border-radius: 0.5rem,
  $padding: 0.8rem 1.3rem
) {
  background-color: $bg-color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: 0 0 1rem rgba($shadow-color, 0.4), inset 0.1rem -0.6rem 0.8rem 0.1rem rgba($black, 0.4);
  color: $color;
  display: inline-block;
  text-decoration: none;
  font-family: $ff-main;
  font-size: $fs-base;
  min-width: 4rem;
  outline: 0;
  padding: $padding;
  text-align: center;
  transition: all $fast linear;
  
  @include desktop {
    cursor: pointer;
    &:hover {
      background-color: lighten($bg-color, 18%);
    }
  }
}

a.btn,
.btn {
  @include btn();
}

a.btn,
.btn {
  &--primary {
    @include btn($primary, $white, $black);
  }

  &--secondary {
    @include btn($secondary, $white, $black);
  }

  .icon {
    transition: all $normal ease;
    display: inline-block;
  }
}
