.container {
  max-width: calc($desktop + 2rem);
  margin: 0 auto;
  padding: 1rem;
}

.page {
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 6rem;

  &--center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.bg-dark,
.bg-bright {
  margin-bottom: 4rem;
}

.bg-dark {
  background-color: rgba($black, .3);
}

.bg-bright {
  background-color: rgba($white, .1);
}
