@import "../../../assets/scss/partials/vars";

.carousel {
  padding: 4rem 1rem;
  position: relative;

  &__container {
    border: 0.5rem solid $secondary;
    background-color: rgba($white, 0.8);
    height: 20rem;
    overflow-x: auto;
    position: relative;

    @include mobile-landscape {
      height: 28rem;
    }

    @include tablet {
      overflow: hidden;
    }

    @include desktop {
      &:hover {
        & .carousel__btn--active {
          display: block;
        }
      }
    }
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    transition: all $normal ease-in;
  }

  &__btn {
    background-color: rgba($black, 0.2);
    color: $white;
    color: $secondary;
    height: 100%;
    font-size: 4rem;
    position: absolute;
    top: 0;
    display: none;
    transition: all $fast ease-in;

    @include desktop {
      &:hover {
        display: block;
      }
    }

    &:active {
      color: $primary;
    }

    &--left {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      left: 0;
      &:active {
        transform: translateX(-1rem);
      }
    }
    &--right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      right: 0;
      &:active {
        transform: translateX(1rem);
      }
    }
    &--disabled {
      display: none;
    }
  }
}
