@import "../../../assets/scss/partials/vars";

.carousel {
  padding: 4rem 1rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 1.5rem;
    top: 4.5rem;
    width: 5rem;
    height: calc(100% - 9rem);
    background: linear-gradient(to right, rgba($white, 0.9) 0%, rgba($white, 0.9) 30%, rgba($white, 0) 100%);
    opacity: 0;
    z-index: $over;
    pointer-events: none;
    transition: all $fast linear;
  }

  &::after {
    content: "";
    position: absolute;
    right: 1.5rem;
    top: 4.5rem;
    width: 5rem;
    height: calc(100% - 9rem);
    background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 0.9) 70%, rgba($white, 0.9) 100%);
    z-index: $over;
    transition: all $fast linear;
    pointer-events: none;
  }

  @include desktop {
    &::before,
    &::after {
      content: none;
    }
  }

  &--scrolling {
    &::before {
      opacity: 1;
    }
  }

  &--end {
    &::after{
      opacity: 0;
    }
  }

  &__container {
    border: 0.5rem solid $secondary;
    background-color: rgba($white, 0.8);
    height: 20rem;
    overflow-x: auto;
    position: relative;

    @include mobile-landscape {
      height: 28rem;
    }

    @include desktop {
      overflow: hidden;
      &:hover {
        & .carousel__btn--active {
          display: block;
        }
      }
    }
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    transition: all $normal ease-in;
  }

  &__btn {
    background-color: rgba($black, 0.2);
    color: $white;
    color: $secondary;
    height: 100%;
    font-size: 4rem;
    position: absolute;
    top: 0;
    display: none;
    transition: all $fast ease-in;

    @include desktop {
      &:hover {
        display: block;
      }
    }

    &:active {
      color: $primary;
    }

    &--left {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      left: 0;
      &:active {
        transform: translateX(-1rem);
      }
    }
    &--right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      right: 0;
      &:active {
        transform: translateX(1rem);
      }
    }
    &--disabled {
      display: none;
    }
  }

  &__icon {
    color: $secondary;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    opacity: 0.5;

    &--rigth {
      left: auto;
      right: 1rem;
    }

    &--show {
      display: block;
    }

    @include desktop {
      display: none;
    }
  }
}
