@import "../../../assets/scss/partials/vars";

:host {
  & + & {
    margin-top: 1.5rem;
  }
}

.result {
  background-color: $white;
  border: 0.1rem solid $white;
  border-radius: 0.4rem;
  transition: all $normal ease;
  position: relative;
  overflow: hidden;

  &--selected {
    &::before {
      content: "";
      background-color: $tertiary;
      position: absolute;
      display: block;
      height: 3.5rem;
      width: 2.6rem;
      left: -1.2rem;
      top: -1.4rem;
      transform: rotate(45deg);
    }
  }

  &--resalted {
    border-color: $gray-500;
  }

  @include desktop {
    &:hover {
      border-color: $gray-600;
      box-shadow: 0 0 1rem rgba($black, 0.5);

      .result__media {
        transform: scale(1.1);
      }
      .result__block {
        .result__data {
          transform: translateX(-0.5rem);
        }
        &:last-of-type {
          .result__data {
            transform: translateX(0.5rem);
          }
        }
      }
    }
  }

  &__link {
    color: $black;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    text-decoration: none;

    @include desktop {
      cursor: pointer;
    }
  }

  &__block {
    position: relative;
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;

    @include mobile {
      flex-basis: 50%;
    }
    & + & {
      flex-direction: row-reverse;

      &::after {
        content: "";
        display: block;
        background-color: $gray-500;
        position: absolute;
        top: 0;
        width: 80%;
        left: 10%;
        height: 1px;
        @include mobile {
          height: 60%;
          width: 0.2rem;
          background-color: $gray-500;
          position: absolute;
          left: 0;
          top: 20%;
        }
      }
    }
  }

  &__media {
    display: inline-block;
    object-fit: contain;
    max-width: 3.5rem;
    transition: all $normal ease;
  }

  &__data {
    display: inline-block;
    transition: all $normal ease;
    text-align: center;
    &:last-child {
      font-size: $fs-md;
    }

    &--sm {
      font-size: $fs-sm;
      &:last-child {
        font-size: $fs-base;
      }
    }
  }

  &__date {
    display: block;
    width: 100%;
    text-align: center;
  }
}
