@import "../../../assets/scss/partials/vars";

:host {
  & + & {
    margin-top: 1.5rem;
  }
}

.result {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 4px;
  transition: all $normal ease;
  position: relative;
  overflow: hidden;

  &--selected {
    &::before {
      content: "";
      background-color: $tertiary;
      position: absolute;
      display: block;
      height: 2.5rem;
      width: 2rem;
      left: -1rem;
      top: -1rem;
      transform: rotate(45deg);
    }
  }

  &--resalted {
    border-color: $gray-500;
  }

  &:hover {
    border-color: $gray-600;
    box-shadow: 0 0 1rem rgba($black, .5);

    .result__media {
      transform: scale(1.1);
    }
    .result__block {
      .result__data {
        transform: translateX(-.5rem);
      }
      &:last-of-type {
        .result__data {
          transform: translateX(.5rem);
        }
      }
    }
  }

  &__link {
    color: $black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    text-decoration: none;
  }

  &__block {
    position: relative;
    flex: 1 0 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    & + & {
      flex-direction: row-reverse;
      &::after {
        content: "";
        display: block;
        height: 60%;
        width: 2px;
        background-color: $gray-500;
        position: absolute;
        left: 0;
        top: 20%;
      }
    }
  }

  &__media {
    display: inline-block;
    object-fit: contain;
    max-width: 2rem;
    transition: all $normal ease;
  }

  &__data {
    display: inline-block;
    transition: all $normal ease;
    &:last-child {
      font-size: $fs-md;
    }

    &--sm {
      font-size: $fs-sm;
      &:last-child {
        font-size: $fs-base;
      }
    }
  }
}
