@import "../../../assets/scss/partials/vars";

.wrapper {
    background-color: $gray-200;
    min-height: 100vh;
}

.teams {
    background-color: rgba($gray-400, 0.4);
    border: 0.1rem solid $gray-300;
    border-radius: 0.5rem;
    padding: 2rem;

    &__details {
        flex-basis: 100%;
        height: 0;
        overflow: hidden;
        transition: all $slow ease;
        &--show {
            height: 127rem;

            @include mobile {
                height: 76rem;
            }
            padding: 1rem 0.5rem;
        }
    }

    &__link {
        margin-top: 1.5rem;
        display: block;
        text-decoration: none;
    }

    &__btns {
        padding: 0.5rem 0;
        width: max-content;
        margin-left: auto;
    }

    &__title {
        padding: 1rem;
        color: $black;
        text-align: center;

        font-size: 2rem;
        @include tablet {
            font-size: 3rem;
        }
    }

    &__block {
        &:first-child {
            margin-bottom: 2rem;
            @include tablet {
                margin-bottom: 0;
            }
        }

        &:nth-child(2n) {
            .teams__media {
                flex-direction: row-reverse;
            }

            .teams__logo {
                margin-right: 0;
                left: 1rem;
                right: initial;
                @include tablet {
                    margin-left: 1rem;
                }
            }

            .teams__data {
                text-align: right;
                @include tablet {
                    text-align: initial;
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
    }

    &__conference{
        background-color: $gray-200;
        border: 0.1rem solid $white;
        box-shadow: 0 0 1rem rgba($black, 0.6);
        border-radius: 0.5rem;
        padding: 1rem;
    }

    &__media {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
        background-color: rgba($white, 0.6);
        border: 0.1rem solid $gray-500;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem rgba($black, 0.2);
        color: $black;
        text-decoration: none;
        transition: all $normal ease;
        position: relative;
        min-height: 10rem;

        & + & {
            margin-top: 1rem;
        }

        @include desktop {
            cursor: pointer;
            &:hover {
                border-color: $primary;
                box-shadow: 0 0 1rem rgba($black, 0.5);
                background-color: $white;

                .teams__logo {
                    transform: scale(1.05);
                }

                .teams__name {
                    transform: translateX(0.4rem);
                }

                .teams__show-more {
                    opacity: 1;
                }
            }
        }

        &--clasified {
            background-color: rgba($success, 0.18);

            @include desktop {
                &:hover {
                    border-color: $gray-700;
                    background-color: rgba($success, 0.3);
                }
            }
        }
    }

    &__logo {
        height: 100%;
        transition: all $normal ease;
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        max-height: 4.5rem;

        @include mobile {
            bottom: auto;
            top: 2.5rem;
        }

        &--placed {
            left: 1rem;
            right: initial;
            opacity: .5;
            bottom: 0.5rem;
            top: auto;
            
            @include tablet {
                position: static;
            }
        }

        @include tablet {
            margin-right: 1rem;
            position: static;
        }
    }

    &__name {
        font-size: 1rem;
        transition: all $normal ease;
        margin-bottom: 0.5rem;
        font-size: 2rem;

        @include mobile {
            font-size: 2.7rem;
            margin-bottom: 0;
        }
    }

    &__data {
        display: block;
        width: 100%;
        @include tablet {
            display: inline-block;
            width: auto;
            margin-left: auto;
        }
    }

    &__show-more {
        flex-basis: 100%;
        text-align: center;
        opacity: 0;
        transition: all $normal ease;
    }
}

.playoffs {
    display: none;
    &__container {
        position: relative;
        padding: 1rem;
        background-color: rgba($white, 0.8);
        box-shadow: 0 0 1rem rgba($black, 0.4);
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }
    @include tablet {
        display: block;
    }
    &__title {
        padding: 1rem 0;
    }

    &__content {
        min-height: 25rem;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        border: 0.1rem solid $gray-500;
        box-shadow: 0 0 1rem rgba($black, 0.5);
        position: relative;
        overflow: hidden;
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("../../../assets/img/playoffs.jpg");
            background-size: cover;
            background-position: center;
            opacity: 0.35;
            filter: blur(0.2rem) grayscale(15%);
            pointer-events: none;
        }
    }

    &__trophy {
        position: absolute;
        width: 10%;
        height: auto;
        left: 45%;
        top: 25%;
        filter: grayscale(50%);
    }

    &__conference {
        flex: 0 1 45%;
        display: flex;
        position: relative;
        z-index: $over;

        &:nth-of-type(2n) {
            flex-direction: row-reverse;

            .playoffs__media {
                flex-direction: row-reverse;
            }
        }
    }

    &__block {
        flex: 0 1 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__match {
        margin-right: 0.5rem;
        & + & {
            margin-top: 1.5rem;
        }
    }

    &__media {
        display: flex;
        align-items: center;
        padding: 0.2rem;
        background-color: rgba($white, 0.6);
        border: 0.1rem solid $gray-500;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem rgba($black, 0.2);
        color: $black;
        text-decoration: none;
        transition: all $normal ease;

        & + & {
            margin-top: 0.5rem;
        }
    }

    &__team-logo {
        height: 100%;
        margin: 0.2rem;
        max-height: 2rem;

        &--ball {
            border-radius: 100%;
        }
    }

    &__team-name {
        font-size: $fs-sm;
        text-align: center;
    }

    &__winner {
        position: absolute;
        bottom: 5rem;
        width: 30%;
        left: 35%;
        text-align: center;
    }

    &__winner-content {
        border: 0.2rem solid $gray-800;
        background-color: rgba($white, 0.8);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        text-decoration: none;
        transition: all $normal ease;

        @include desktop {
            cursor: pointer;
            &:hover {
                background-color: rgba($black, 0.3);
                border-color: $white;
                box-shadow: 0 0 1rem rgba($black, 0.6);
                transform: scale(1.1);
                .playoffs__winner-name {
                    color: $white;
                }
            }

            &:hover ~ .playoffs__winner-title {
                color: $secondary;
            }
        }
    }

    &__winner-title {
        color: $gray-800;
        transition: all $normal ease;
    }

    &__winner-logo {
        max-height: 5rem;
    }

    &__winner-name {
        color: $gray-800;
        padding: 0.5rem;
        transition: all $normal ease;
    }

    &__buttons {
        padding: 1rem;
        background-color: rgba($white, 0.5);
        border: 0.1rem solid $gray-300;
        border-radius: 0.5rem;
    }
}
