@import "../../../assets/scss/partials/vars";

.wrapper {
    background-color: $gray-200;
    min-height: 100vh;
}

.teams {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba($gray-400, 0.4);
    border: 1px solid $gray-300;
    border-radius: 5px;
    padding: 1rem;

    &__details {
        min-height: 4rem;
    }

    &__title {
        flex: 0 1 45%;
        padding: 1rem;
        color: $black;
        text-align: center;
    }

    &__block {
        background-color: $gray-200;
        border: 1px solid $white;
        box-shadow: 0 0 1rem rgba($black, 0.6);
        border-radius: 5px;
        flex: 0 1 45%;
        padding: 1rem;

        &:nth-child(2n) {
            .teams__media {
                flex-direction: row-reverse;
            }

            .teams__logo {
                margin-left: 1rem;
                margin-right: 0;
            }

            .teams__data {
                margin-left: 0;
                margin-right: auto;
            }
        }
    }

    &__media {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: rgba($white, 0.6);
        border: 1px solid $gray-500;
        border-radius: 5px;
        box-shadow: 0 0 1rem rgba($black, 0.2);
        color: $black;
        text-decoration: none;
        transition: all $normal ease;

        & + & {
            margin-top: 1rem;
        }

        &:hover {
            border-color: $primary;
            box-shadow: 0 0 1rem rgba($black, 0.5);
            background-color: $white;

            .teams__logo {
                transform: scale(1.05);
            }

            .teams__name {
                transform: translateX(0.4rem);
            }
        }

        &--clasified {
            background-color: rgba($success, 0.18);

            &:hover {
                border-color: $gray-700;
                background-color: rgba($success, 0.3);
            }
        }
    }

    &__logo {
        height: 100%;
        max-height: 3rem;
        margin-right: 1rem;
        transition: all $normal ease;
    }

    &__name {
        font-size: 1.7rem;
        transition: all $normal ease;
    }

    &__data {
        margin-left: auto;
    }
}

.playoffs {
    position: relative;
    padding: 1rem;
    background-color: rgba($white, 0.8);
    box-shadow: 0 0 1rem rgba($black, 0.4);
    border-radius: 5px;
    margin-bottom: 1rem;

    &__title {
        padding: 1rem 0;
    }

    &__content {
        min-height: 25rem;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        border: 1px solid $gray-500;
        box-shadow: 0 0 1rem rgba($black, 0.5);
        position: relative;
        overflow: hidden;
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("../../../assets/img/playoffs.jpg");
            background-size: cover;
            background-position: center;
            opacity: 0.35;
            filter: blur(2px) grayscale(15%);
            pointer-events: none;
        }
    }

    &__trophy {
        position: absolute;
        width: 10%;
        height: auto;
        left: 45%;
        top: 25%;
        filter: grayscale(50%);
    }

    &__conference {
        flex: 0 1 45%;
        display: flex;
        position: relative;
        z-index: $over;

        &:nth-of-type(2n) {
            flex-direction: row-reverse;

            .playoffs__media {
                flex-direction: row-reverse;
            }
        }
    }

    &__block {
        flex: 0 1 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__match {
        margin-right: 0.5rem;
        & + & {
            margin-top: 1.5rem;
        }
    }

    &__media {
        display: flex;
        align-items: center;
        padding: 0.2rem;
        background-color: rgba($white, 0.6);
        border: 1px solid $gray-500;
        border-radius: 5px;
        box-shadow: 0 0 1rem rgba($black, 0.2);
        color: $black;
        text-decoration: none;
        transition: all $normal ease;

        & + & {
            margin-top: 0.5rem;
        }
    }

    &__team-logo {
        height: 100%;
        margin: 0.2rem;
        max-height: 2rem;

        &--ball {
            border-radius: 100%;
        }
    }

    &__team-name {
        font-size: $fs-sm;
        text-align: center;
    }

    &__winner {
        position: absolute;
        bottom: 5rem;
        width: 30%;
        left: 35%;
        text-align: center;
    }

    &__winner-content {
        border: 2px solid $gray-800;
        background-color: rgba($white, 0.8);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        text-decoration: none;
        transition: all $normal ease;
        cursor: pointer;

        &:hover {
            background-color: rgba($black, 0.3);
            border-color: $white;
            box-shadow: 0 0 1rem rgba($black, 0.6);
            transform: scale(1.1);
            .playoffs__winner-name {
                color: $white;
            }
        }

        &:hover ~ .playoffs__winner-title {
            color: $secondary;
        }
    }

    &__winner-title {
        color: $gray-800;
        transition: all $normal ease;
    }

    &__winner-logo {
        max-height: 5rem;
    }

    &__winner-name {
        color: $gray-800;
        padding: 0.5rem;
        transition: all $normal ease;
    }

    &__buttons {
        padding: 1rem;
        background-color: rgba($white, 0.5);
        border: 1px solid $gray-300;
        border-radius: 5px;
    }
}
