<div *ngIf="player" class="details" >
    <img class="details__background" src="{{player?.team?.image_url}}" alt="">
    <div class="details__box" #detail>
        <div class="details__content">
            <button type="button" class="btn btn--primary" (click)="closeDetails($event)">
                <span class="icon icon-cross"></span>
            </button>
            <h3 class="details__title h2">{{player?.team?.full_name}}</h3>
            <div class="details__block">
                <span class="details__avatar">
                    <img src="{{player?.player?.avatar}}" alt="player image">
                </span>
                <div class="details__player">
                    <span class="details__data">Jugador: <a class="details__link" href="#" [routerLink]="['/player',player.player.id ]">{{player.player.first_name}} {{player.player.last_name}}</a></span>
                    <span class="details__data">Altura: {{player?.player?.height_feet | height}} m</span>
                    <span class="details__data">Peso: {{player?.player?.weight_pounds | weight}} kg</span>
                    <span class="details__data">Posición: {{player?.player?.position | position}}</span>
                    <span class="details__data">Equipo actual:
                        <a class="details__link" href="#"
                            [routerLink]="['/team',player?.team?.id]">{{player?.team?.full_name}}</a>
                    </span>
                </div>
            </div>
            <div class="details__block">
                <span class="details__data">Puntos: <strong>{{player?.pts}}</strong></span>
                <span class="details__data">Tapones: <strong>{{player?.blk}}</strong></span>
                <span class="details__data">Minutos: <strong>{{player?.min}}</strong></span>
                <span class="details__data">Asistencias: <strong>{{player?.ast}}</strong></span>
                <span class="details__data">Rebotes totales: <strong>{{player?.reb}}</strong></span>
                <span class="details__data">Rebotes ofensivos: <strong>{{player?.oreb}}</strong></span>
                <span class="details__data">Rebotes defensivos: <strong>{{player?.dreb}}</strong></span>
                <span class="details__data">Robos: <strong>{{player?.stl}}</strong></span>
                <span class="details__data">Faltas cometidas: <strong>{{player?.pf}}</strong></span>
                <span class="details__data">Lazamientos de 3 intentados: <strong>{{player?.fg3a}}</strong></span>
                <span class="details__data">Lazamientos de 3 anotados: <strong>{{player?.fg3m}}</strong></span>
                <span class="details__data">Porcentaje tiros de 3: <strong>{{player?.fg3_pct}}</strong></span>
                <span class="details__data">Lazamientos de 2 intentados: <strong>{{player?.fga}}</strong></span>
                <span class="details__data">Lazamientos de 2 anotados: <strong>{{player?.fgm}}</strong></span>
                <span class="details__data">Porcentaje tiros de 2: <strong>{{player?.fg_pct}}</strong></span>
                <span class="details__data">Tiros libres intentados: <strong>{{player?.fta}}</strong></span>
                <span class="details__data">Tiros libres anotados: <strong>{{player?.ftm}}</strong></span>
                <span class="details__data">Porcentaje tiros de 2: <strong>{{player?.ft_pct}}</strong></span>
            </div>
        </div>
    </div>
</div>
