@import "../../../assets/scss/partials/vars";

.details {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba($black, 0.6);
  top: 0;
  left: 0;
  z-index: $top;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    width: 100%;
  }

  &__box {
    position: fixed;
    left: 2.5%;
    top: 3rem;
    bottom: 3rem;
    width: 95%;
    background-color: rgba($white, 0.8);
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem 1rem rgba($black, 0.6);
    color: $black;
    overflow-y: auto;
    padding: 0.5rem 1rem;

    @include customScrollBar();

    @include mobile-landscape {
      left: 10%;
      width: 80%;
      padding: 1rem 2rem;
    }
    @include tablet {
      left: 25%;
      width: 50%;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    @include mobile {
      padding-top: 0;
    }
  }

  &__title {
    padding: 1rem 0;
  }

  &__block {
    border-radius: 0.5rem;
    flex: 0 1 100%;
    padding: 1rem;
    min-height: 6rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 1rem rgba($black, 0.3);
    background-color: rgba($white, 0.8);

    & + & {
      margin-top: 1rem;
    }

    &:nth-of-type(2) {
      .details__data {
        @include desktop {
          &:hover {
            border: 0.2rem solid rgba($primary, 0.6);
            box-shadow: 0 0 1rem rgba($black, 0.2);
            background-color: rgba($black, 0.15);
          }
        }
      }
    }
  }

  &__avatar {
    border-radius: 100%;
    box-shadow: 0 0 1rem rgba($black, 0.3);
    display: inline-flex;
    height: 10rem;
    margin-right: 2rem;
    overflow: hidden;
    width: 10rem;

    img {
      height: 100%;
      border-radius: 100%;
    }
  }

  &__player {
    padding: 0 1rem;
  }

  &__link {
    text-decoration: none;
    color: $primary;
    transition: all $normal ease;
    padding: 0.2rem;

    @include desktop {
      &:hover {
        color: $white;
        font-weight: bold;
        text-decoration: underline;
        background-color: rgba($secondary, 0.8);
        border-radius: 0.5rem;
      }
    }
  }

  &__data {
    border: 0.2rem solid $transparent;
    border-radius: 0.5rem;
    display: block;
    flex: 1 0 33%;
    padding: 0.2rem;
    text-transform: capitalize;
    transition: all $normal ease;
  }

  .btn {
    position: absolute;
    right: -0.5rem;
    top: 0;
    padding: 0.5rem;
    font-size: 1.5rem;

    @include mobile {
      right: 0.5rem;
      top: 0.5rem;
      font-size: 2rem;
    }
  }
}
